# Analyzing Police Activity with Pandas

This project applies the foundations of **pandas** to answer real-world questions using the **Stanford Open Policing Project dataset**. The focus is on analyzing the impact of gender on police behavior while practicing essential data analysis skills.

Through this project, you will:

- Explore and clean messy datasets
- Fix data types and handle missing values
- Drop unnecessary columns and rows
- Create meaningful visualizations
- Combine and reshape datasets
- Work with time series data

The goal is to complete a full analysis workflow—from raw data to insights—building practical experience for a data science career.

---

## Chapter 1: Preparing the Data for Analysis

Before starting the analysis, it’s important to prepare the dataset.
In this step, the work involves:

- Examining the raw data
- Fixing data types for consistency
- Handling missing values
- Dropping irrelevant columns and rows

This ensures the dataset is ready for efficient exploration and accurate analysis.

In [41]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [42]:
police = pd.read_csv(r"C:\Users\Emigb\Documents\Data Science\datasets\police.csv")
police.head()

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,RI,2005-01-04,12:55,NaN,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,RI,2005-01-23,23:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,RI,2005-02-17,04:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
3,RI,2005-02-20,17:15,NaN,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
4,RI,2005-02-24,01:20,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3

## Exploring the Dataset

The analysis will focus on a dataset of traffic stops in **Rhode Island**, collected by the **Stanford Open Policing Project**.

Before diving into deeper analysis, the first step is to get familiar with the dataset. This involves:

- **Loading the dataset** into pandas for use
- **Viewing the first few rows** to understand its structure and contents
- **Counting missing values** to identify data quality issues that need attention

This initial exploration ensures a clear understanding of what the dataset contains and highlights areas that require cleaning before further analysis.

In [43]:
police.isnull().sum()

state                     0
stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5205
driver_race            5202
violation_raw          5202
violation              5202
search_conducted          0
search_type           88434
stop_outcome           5202
is_arrested            5202
stop_duration          5202
drugs_related_stop        0
district                  0
dtype: int64

In [44]:
print(police.shape)
print(police.columns)

(91741, 15)
Index(['state', 'stop_date', 'stop_time', 'county_name', 'driver_gender',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type', 'stop_outcome', 'is_arrested', 'stop_duration',
       'drugs_related_stop', 'district'],
      dtype='object')

In [45]:
police.state.value_counts()

state
RI    91741
Name: count, dtype: int64

## Dropping Unnecessary Columns

Not every column in a dataset is useful for analysis. Keeping irrelevant or empty columns can add clutter and make it harder to focus on the meaningful data.

In this step:

- The **`county_name`** column will be dropped because it contains only missing values.
- The **`state`** column will also be dropped since all traffic stops occurred in the same state (**Rhode Island**), making the column redundant.

Removing these columns will simplify the dataset and keep the focus on information that adds value to the analysis.

In [46]:
police.drop(['state','county_name'], axis='columns', inplace=True)
police.shape

(91741, 13)

In [47]:
police.isnull().sum()

stop_date                 0
stop_time                 0
driver_gender          5205
driver_race            5202
violation_raw          5202
violation              5202
search_conducted          0
search_type           88434
stop_outcome           5202
is_arrested            5202
stop_duration          5202
drugs_related_stop        0
district                  0
dtype: int64

## Dropping Rows

In [48]:
print(police.isnull().sum())
print(police.shape)

stop_date                 0
stop_time                 0
driver_gender          5205
driver_race            5202
violation_raw          5202
violation              5202
search_conducted          0
search_type           88434
stop_outcome           5202
is_arrested            5202
stop_duration          5202
drugs_related_stop        0
district                  0
dtype: int64
(91741, 13)

Sometimes, a dataset may have missing values in columns that are **critical for analysis**. If the number of missing rows is small, it is often better to remove them rather than risk skewing the results.

In this step:

- The **`driver_gender`** column is identified as essential for the analysis.
- Only a small fraction of rows are missing values in this column.
- Those rows will be **dropped** to ensure the dataset remains reliable and ready for gender-based analysis.

This step helps maintain accuracy while keeping as much useful data as possible.

In [49]:
police.dropna(subset=['driver_gender'], inplace=True)
print(police.isnull().sum())
print(police.shape)

stop_date                 0
stop_time                 0
driver_gender             0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           83229
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
district                  0
dtype: int64
(86536, 13)

## Fixing a Data Type

In [50]:
police.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86536 entries, 0 to 91740
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           86536 non-null  object
 1   stop_time           86536 non-null  object
 2   driver_gender       86536 non-null  object
 3   driver_race         86536 non-null  object
 4   violation_raw       86536 non-null  object
 5   violation           86536 non-null  object
 6   search_conducted    86536 non-null  bool
 7   search_type         3307 non-null   object
 8   stop_outcome        86536 non-null  object
 9   is_arrested         86536 non-null  object
 10  stop_duration       86536 non-null  object
 11  drugs_related_stop  86536 non-null  bool
 12  district            86536 non-null  object
dtypes: bool(2), object(11)
memory usage: 8.1+ MB

In [51]:
police.head()

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,2005-01-04,12:55,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,2005-01-23,23:15,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,2005-02-17,04:15,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
3,2005-02-20,17:15,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
4,2005-02-24,01:20,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3


Columns sometimes have the wrong data type, which can limit how they’re used in analysis. Adjusting them ensures accuracy and unlocks the right operations.

In this step:

- The **`is_arrested`** column is currently stored as an `object` type.
- Since it contains only `True` and `False` values, it will be converted to a **boolean (`bool`) type**.
- This change allows for logical and mathematical operations that would not be possible with the wrong data type.

Correcting data types makes the dataset more consistent and easier to analyze.

In [52]:
police['is_arrested']=police['is_arrested'].astype('bool')
police['is_arrested'].dtypes

dtype('bool')

## Combining Object Columns

Working with dates and times separately can be inefficient and limit analysis options. Combining them into a single column makes it easier to work with time-based data.

In this step:

- The **`stop_date`** and **`stop_time`** columns (currently stored as `object` types) will be **merged into one column**.
- The combined column will then be **converted into a `datetime` format**.
- This will allow the use of convenient **date and time attributes** (such as year, month, day, or hour) for deeper analysis later in the project.

Unifying date and time creates a stronger foundation for time series analysis.

In [53]:
combined = police['stop_date'].str.cat(police['stop_time'],sep=' ')
police['stop_datetime']=pd.to_datetime(combined)
police['stop_datetime'].dtypes

dtype('<M8[ns]')

Checking the new column

In [54]:
police['stop_datetime'].head()

0   2005-01-04 12:55:00
1   2005-01-23 23:15:00
2   2005-02-17 04:15:00
3   2005-02-20 17:15:00
4   2005-02-24 01:20:00
Name: stop_datetime, dtype: datetime64[ns]

## Setting the Index

The default index in a DataFrame is usually numeric, but when working with time-based data, using a **DatetimeIndex** is more powerful.

In this step:

- The newly created **`stop_datetime`** column will be set as the DataFrame’s **index**.
- This replaces the default numeric index with a **DatetimeIndex**.
- Having a DatetimeIndex makes it easier to perform operations like **resampling, slicing by time ranges, and trend analysis**.

This prepares the dataset for efficient time-based exploration and analysis in the next stages.

In [55]:
police.set_index('stop_datetime', inplace=True)
police.index

DatetimeIndex(['2005-01-04 12:55:00', '2005-01-23 23:15:00',
               '2005-02-17 04:15:00', '2005-02-20 17:15:00',
               '2005-02-24 01:20:00', '2005-03-14 10:00:00',
               '2005-03-29 21:55:00', '2005-04-04 21:25:00',
               '2005-07-14 11:20:00', '2005-07-14 19:55:00',
               ...
               '2015-12-31 13:23:00', '2015-12-31 18:59:00',
               '2015-12-31 19:13:00', '2015-12-31 20:20:00',
               '2015-12-31 20:50:00', '2015-12-31 21:21:00',
               '2015-12-31 21:59:00', '2015-12-31 22:04:00',
               '2015-12-31 22:09:00', '2015-12-31 22:47:00'],
              dtype='datetime64[ns]', name='stop_datetime', length=86536, freq=None)

In [56]:
police.head()

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,
2005-01-04 12:55:00,2005-01-04,12:55,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
2005-01-23 23:15:00,2005-01-23,23:15,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2005-02-17 04:15:00,2005-02-17,04:15,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
2005-02-20 17:15:00,2005-02-20,17:15,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
2005-02-24 01:20:00,2005-02-24,01:20,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3

### Chapter Two: Exploring the relationship between gender and policing

## Examining Traffic Violations

Before analyzing how violations differ by gender, it's useful to understand the overall patterns in the dataset. Establishing this baseline helps provide context for deeper comparisons later.

In this step:

- Count the **unique values** in the **`violation`** column to see the types of traffic violations committed by all drivers.
- Calculate the **proportion** of each violation type relative to the total number of stops.

This overview will serve as a reference point for analyzing differences in violations across genders and other factors in subsequent steps.

In [57]:
police.violation.value_counts()

violation
Speeding               48423
Moving violation       16224
Equipment              10921
Other                   4409
Registration/plates     3703
Seat belt               2856
Name: count, dtype: int64

In [58]:
police.violation.value_counts(normalize = True)

violation
Speeding               0.559571
Moving violation       0.187483
Equipment              0.126202
Other                  0.050950
Registration/plates    0.042791
Seat belt              0.033004
Name: proportion, dtype: float64

## Comparing Violations by Gender

To understand how traffic behavior differs between male and female drivers, it's important to analyze the types of violations committed by each group separately.

In this step:

- I will create a **`female`** DataFrame containing only rows where `driver_gender` is `'F'`.
- I will create **`male`** DataFrame containing only rows where `driver_gender` is `'M'`.
- I will count the violations in each DataFrame and express them as **proportions** of the total for that gender.

This comparison will reveal whether certain types of violations are more common among male or female drivers.

In [65]:
female = police[police.driver_gender == 'F']
female_violations = female.violation.value_counts(normalize=True)
print(female_violations)

violation
Speeding               0.658114
Moving violation       0.138218
Equipment              0.105199
Registration/plates    0.044418
Other                  0.029738
Seat belt              0.024312
Name: proportion, dtype: float64

In [66]:
male = police[police.driver_gender == "M"]
male_violations = male.violation.value_counts(normalize=True)
print(male_violations)

violation
Speeding               0.522243
Moving violation       0.206144
Equipment              0.134158
Other                  0.058985
Registration/plates    0.042175
Seat belt              0.036296
Name: proportion, dtype: float64